name: CI

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  test-smart-contracts:
    name: Forge tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Run Forge tests
        run: forge test --ffi

